<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit User</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheets" href="edit.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>
  </head>
  <body>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
    <div class="row">
       <div class="large-6 large-centered columns">
         <div class="signup-panel">
           <p class="welcome"> <h2 style="text-align: center"><strong>Edit Profile</strong></h2></p>
           <form>
             <div class="row collapse">
               <div class="small-2 columns">
                 <span class="prefix"><i class="fi-mail"></i></span>
               </div>
               <div class="small-10  columns">
                 <%= f.input :email, autofocus: true,required: true, placeholder:"Email",label: false %>
               </div>
             </div>
             <div class="row collapse">
               <div class="small-2 columns ">
                 <span class="prefix"><i class="fi-lock"></i></span>
               </div>
               <div class="small-10 columns ">
                 <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                   <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                 <% end %>
                 <%= f.input :current_password, required: true, placeholder:"Current Password",label: false%>
              </div>
             </div>
             <div class="row collapse">
               <div class="small-2 columns ">
                 <span class="prefix"><i class="fi-lock"></i></span>
               </div>
               <div class="small-10 columns">
                 <%= f.input :password, autocomplete: "off", required: false, placeholder:"New Password",label: false%>
              </div>
             </div>
             <div class="row collapse">
               <div class="small-2 columns ">
                 <span class="prefix"><i class="fi-lock"></i></span>
               </div>
               <div class="small-10 columns ">
                 <%= f.input :password_confirmation, required: false, placeholder:"Confirm New Password",label: false%>
              </div>
             </div>
           </form>
           <div class="small-2 small-centered columns">
           <%= f.button :submit, "Update", class:"button"  %>
         </div>
          <div class="small-4 small-centered columns" style="text-align: center">
            <p><strong><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p></strong> </p>
            <p><strong>  <%= link_to "Back", :back  %></p></strong> </p>
          </div>
         </div>
       </div>
      </div>
    <% end %>

  </body>
</html>
