<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit User</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <link rel="stylesheet" href="edit.scss">

  </head>
  <body>
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <div class="row">
      <form class="col s12">
        <div class="overinput">
          <div class="input">
            <%= f.input :email, required: true, autofocus: true, class:"validate", label: false %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :password, autocomplete: "off", required: false, class:"validate"%>
            <%= f.input :password_confirmation, required: false, class:"validate" %>
            <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, class:"validate"%>
          </div>
        </div>
      </form>

      <div class="form-inputs">
        <br>
        <%= f.button :submit, "Update", class:"waves-effect waves-light btn"  %>
      </div>
    <% end %>
  </div>

    <div class="cancel">
    <h3>Cancel my account</h3>

    <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"waves-effect waves-light btn" %></p>

    <%= link_to "Back", :back %>

    </div>
    <br>
  </body>
</html>
