<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Post</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheets" href="response.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>
  </head>
  <body style="background-color: #F8F8F8">
    <%= form_for [question, answer] do |f| %>
      <% if answer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>
          <ul>
          <% answer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
         <div class="small-14 small-centered columns">
           <div class="response-panel">
             <form>
               <div class="row collapse">
                 <div class="small-14  columns">
                   <%=f.text_area :body, placeholder:"Respond Here", style:"box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.16), 0 20px 10px 0 rgba(0, 0, 0, 0.12);"%>
                 </div>
               </div>
             </form>
             <div class="small-5 small-centered columns">
             <%= f.submit "Submit", class:"button", style:"box-shadow: 0px 5px 5px #B2B2B2"%>
            </div>
           </div>
         </div>
        </div>
      <% end %>
  </body>
</html>
