
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign In</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheets" href="login.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>
  </head>
  <body style="background-color: #F8F8F8">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="row">
       <div class="large-6 large-centered columns">
         <div class="signup-panel">
           <h1 style="font-family: 'Montserrat', sans-serif;"><strong>Welcome Back!</strong></h1>
           <form>
             <div class="row collapse">
               <div class="small-2 columns">
                 <span class="prefix"><i class="fi-mail"></i></span>
               </div>
               <div class="small-10  columns">
                 <%= f.input :email, required: false, autofocus: true, class:"validate", label: false, placeholder: "Email" %>
               </div>
             </div>
             <div class="row collapse">
               <div class="small-2 columns ">
                 <span class="prefix"><i class="fi-lock"></i></span>
               </div>
               <div class="small-10 columns ">
                <%= f.input :password, required: false, class:"validate", label: false, placeholder: "Password"  %>
                <%= f.input :remember_me,as: :boolean if devise_mapping.rememberable? %>

              </div>
             </div>

           </form>

           <div class="small-5 small-centered columns">
           <%= f.button :submit, "Log in", class:"button round", style:"box-shadow: 0px 5px 5px #B2B2B2" %>

            <p><strong>Sign Up Here<%= render "devise/shared/links", class:"signin" %> </strong> </p>
          </div>
         </div>
       </div>
      </div>
    <% end %>
  </body>
</html>
