<!DOCTYPE html>
<html>
  <head>
    <title>MyProject</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
       <div class="nav-wrapper">
         <%= link_to root_path do %>
         <img class="z-depth-1" src="http://orig00.deviantart.net/1bf2/f/2014/250/0/4/game_of_thrones_png_logo_by_sohrabzia-d7y9g1j.png">
        <% end %>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
           <li><%= link_to "Discussion Board", questions_path, class:"waves-effect waves-light btn" %></li>
           <% if user_signed_in? %>
           <li><%= link_to "User Profile", edit_user_registration_path, class:"waves-effect waves-light btn" %></li>
           <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"waves-effect waves-light btn" %></li>
           <%- else -%>
           <li><%= link_to "Sign In", new_user_session_path, class:"waves-effect waves-light btn" %></li>
           <li><%= link_to "Sign Up", new_user_registration_path, class:"waves-effect waves-light btn" %></li>
         </ul>
         <%end%>
       </div>
     </nav>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
